body {
    background-color: #5f9ea0;
}

.centerBlock {
    display: grid;
    justify-content: center;
}

.gridContainer {
    display: grid;
    max-width: 1000px;
    grid-gap: 10px;

    /*grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);*/

    /* ??! try to divide 'gridContainer' for 2 columns (3fr and 1fr)*/
}

.containerTitle {
    display: grid;
    justify-content: center;
    color: white;
}

.news-text {
    background-color: white;
    padding: 10px;
}

.news-picture{
    display: grid;

    width: 100%;
    height: auto;
    object-fit: cover;
}

.news-footer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.news-comment{
    display: grid;

    justify-self: end;
}


.item1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item2 {
    display: grid;

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
}

.item3 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item4 {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.item5 {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}

.item6 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item7 {
    display: grid;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item8 {
    display: grid;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.item9 {
    display: grid;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}
